DB_URL = "mongodb+srv://danielruimar:<USER_PASSWORD>@dani000ruiz-cluster.syfxhuj.mongodb.net/?retryWrites=true&w=majority"
DB_NAME = "NODE-LALIGA-DEVELOP / NODE-LALIGA-PRODUCTION"
JWT_SECRET = "***************"